* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-transform: uppercase;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.btn,
.btn.bordered {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn {
  padding: 0.7rem 3.5rem;
  background-color: #0182f9;
  border: none;
}

.btn.bordered {
  border: 2px solid #0182f9;
  background-color: transparent;
  padding: 0.7rem 1rem;
}

.text-center {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
header .brand {
  width: 80px;
  display: inline-block;
}
header .brand img {
  max-width: 100%;
  margin-block: 0.8rem;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 100%;
  margin-left: 3rem;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
header ul li {
  height: 100%;
  margin-right: 2rem;
  list-style-type: none;
}
header ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1c1c1c;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  height: 100%;
}
header ul li a.active {
  color: #0182f9;
  border-bottom-color: #0182f9;
}

main.home_main {
  background-color: #1c1c1c;
  color: #fff;
  padding-block: 4rem 2rem;
  min-height: calc(100vh - 271.9px);
}

.comics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.magazine_card {
  width: 16.6666666667%;
  padding-inline: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}
.magazine_card .top_card {
  display: inline-block;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}
.magazine_card .top_card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.magazine_card .bottom_card h3 {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 0.95rem;
}

.load_more {
  display: flex;
  justify-content: center;
}

.comic_main .hero_banner {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-position: top;
  height: 400px;
}
.comic_main .hero_banner .inner_container .comic_cover {
  position: absolute;
  bottom: -60px;
  left: 0;
  border: 1px solid #fff;
}
.comic_main .hero_banner .inner_container .comic_cover .view_gallery {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #01a9da;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  padding-block: 3px;
}
.comic_main .hero_banner .inner_container .comic_cover .comic_type {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 5px;
  text-transform: uppercase;
  background-color: #01a9da;
  color: #fff;
  font-size: 0.8rem;
}
.comic_main .hero_banner .spacer {
  height: 80px;
  background-color: #0182f9;
}
.comic_main .content {
  padding-block: 200px 150px;
}
.comic_main .content .comic_details {
  display: flex;
  flex-wrap: wrap;
}
.comic_main .content .comic_details h5 {
  width: 100%;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  color: #7d7d7d;
  letter-spacing: -1px;
}
.comic_main .content .comic_details .comic_data {
  width: 65%;
}
.comic_main .content .comic_details .comic_data .title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  letter-spacing: -2px;
  color: #103e5f;
}
.comic_main .content .comic_details .comic_data .stock {
  background-color: #55ba5a;
  display: flex;
}
.comic_main .content .comic_details .comic_data .stock .details {
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 75%;
  border-right: 1px solid #303030;
}
.comic_main .content .comic_details .comic_data .stock .details .price {
  color: rgba(255, 255, 255, 0.7);
  text-transform: initial;
}
.comic_main .content .comic_details .comic_data .stock .details .price .dollars {
  font-weight: bold;
  opacity: 1;
  color: #fff;
}
.comic_main .content .comic_details .comic_data .stock .details .available {
  color: rgba(255, 255, 255, 0.7);
}
.comic_main .content .comic_details .comic_data .stock .availability {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: initial;
  font-size: 0.95rem;
  color: #fff;
}
.comic_main .content .comic_details .comic_data .description {
  text-transform: none;
  margin-top: 2rem;
  font-weight: bold;
  color: #7d7d7d;
  font-size: 1rem;
  line-height: 1.5rem;
}
.comic_main .content .comic_details .ads {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.comic_main .inner_container {
  width: 1020px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.blue_stripe {
  padding: 0.7rem 0;
  background-color: #0182f9;
}

.sub_footer {
  background-color: #303030;
  padding-block: 3rem;
}
.sub_footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.sub_footer .container .sign_up {
  width: 50%;
}
.sub_footer .container .socials {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.sub_footer .container .socials h3 {
  color: #0182f9;
  font-size: 1.5rem;
  margin-right: 0.8rem;
}
.sub_footer .container .socials .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sub_footer .container .socials .icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
  width: 2.5rem;
  font-size: 1.5rem;
  color: #303030;
  aspect-ratio: 1;
  background-color: #7d7d7d;
  border-radius: 50%;
}