

// colors
$bg-color: #1c1c1c;
$secondary-col: #303030;
$social-col: #7d7d7d;
$accent-col: #0182f9;
$clear-col: #fff;

// sizes
$sp-05: .5rem;
$sp-07: .7rem;
$sp-08: .8rem;
$sp-10: 1rem;
$sp-15: 1.5rem;
$sp-20: 2rem;
$sp-25: 2.5rem;
$sp-30: 3rem;
$sp-35: 3.5rem;
$sp-40: 4rem;

