.blue_stripe {
	padding: $sp-07 0;
	background-color: $accent-col;
}

.sub_footer {
	background-color: $secondary-col;
	padding-block: $sp-30;
	.container {
		@include flex(row, space-between);
		.sign_up {
			width: 50%;
		}
		.socials {
			width: 50%;
			@include flex(row, flex-end, center);
			h3 {
				color: $accent-col;
				font-size: $sp-15;
				margin-right: $sp-08;
			}
			.icons {
				@include flex(row, center, center);
				a {
					@include flex(row, center, center);
					margin-right: $sp-08;
					width: $sp-25;
					font-size: $sp-15;
					color: $secondary-col;
					aspect-ratio: 1;
					background-color: $social-col;
					border-radius: 50%;
				}
			}
		}
	}
}